
body {
	max-width: 960px;
	margin: auto;
	font: 1em/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h1 {
 	color: #1208a2;
 }

h2 {
	font-size: 1.2em;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 5px;
}

/* Main Styles ----------------- */

.field {
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.main-header {
	height: 200px;
}

.logo {
	display: block;
	margin: auto;
	width: 180px;
	height: auto;
	max-width: 100%;
}

.prodname {
	text-align: center;
	border-bottom: 2px solid #000000;
	font-size: 1.6em;
	padding-bottom: 10px;
}

.content {
	max-width: 95%;
	padding: 10px;
	margin: 0 auto;
}

.primary-content {
	padding-bottom: 30px;
}

.allergens,
.energy {
	padding-bottom: 30px;
}

.storage {
	padding-bottom: 10px;;
}

.product-picture img {
	width: 300px;
}

.product-details h2 {
	background-color: #13D2F1;
	box-shadow: inset 0 0 0 1000px #13D2F1;
	border-radius: 6px 6px 0 0;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	-webkit-print-color-adjust: exact;
}

.basic-info, .ingredients {
	padding-left: 5px;
}

.ingredients {
	margin-top: 20px;
}

.ingredients p {
	padding-left: 5px;
	padding-right: 5px;
}

.field {
	background-color: #fff;
	border: 1px solid #13D2F1;
}

table {
	width: 100%;
	max-width: 100%;
	border: 1px solid #13D2F1;
	border-spacing: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

table th {
	background-color: #13D2F1;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0 ;
}

table tr:nth-child(even),
table tr:nth-child(even),
table tr:nth-child(even) {
	background-color: #CECECE;
	-webkit-print-color-adjust: exact;
}

table tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 4px;
	-webkit-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
}

table tr:last-child td:last-child {
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	border-radius: 0 0 4px 0;
}

.energy .value,
.allergens .value,
.storage .value {
	padding-left: 6px;
}

.main-footer {
	text-align: center;
	border-top: 2px solid #000000;
}

.main-footer p {
	padding-top: 10px;
}

/* Layout Styles ---------------- */

.product-picture,
.product-details,
.energy,
.allergens,
.storage {
	max-width: 60%;
}

.product-picture,
.col-1 {
	float: left;
}

.product-details,
.col-2,
.allergens {
	float: right;
}

.col-1,
.col-2 {
	max-width: 50%;
	width: 100%;
}



/* Pseudo-classes --------------- */

a:link {
	text-decoration: none;
  	color: #1208a2;
}

a:hover {
	color: #ff6347;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
	.primary-content {
	padding-bottom: 30px;
	}

	.basic-info,
	.ingredients {
		padding: 0;
	}

	.secondary-content div {
		padding-bottom: 30px;
	}

	.product-picture,
	.product-details,
	.energy,
	.allergens,
	.storage {
		max-width: 100%;
		float: none;
		text-align: center;
	}

	.main-footer {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 400px) {
	.content {
		margin-top: 40px;
	}
}

@media print and (max-width: 210mm) {
	body {
    color: #000;
    background: #fff;
  }

	h2 {
		font-size: 1em;
	}

	p, li {
		font-size: 0.8em;
	}

	.product-picture img {
		width: 230px;
	}

	.storage {
		width: 100%;
  	position: fixed;
  	bottom: 85px;
		left: 0;
		right: 0;
	}

	.main-footer {
		width: 100%;
  	position: fixed;
  	bottom: 10px;
  	left: 0px;
		right: 0px;
	}

}
