
body {
	max-width: 960px;
	margin: auto;
	font-family: Helvetica;
	font-size: 1em;
	line-height: 1.4;
	color: #000;
    background: #fff;
}

h1 {
 	color: #1208a2;
 }

h2 {
	font-size: 1em;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-left: 5px;
}

/* Main Styles ----------------- */

.field {
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.main-header {
	height: 200px;
	padding-top: 20px;
}

.logo {
	display: block;
	margin: auto;
	width: 180px;
	height: auto;
	max-width: 100%;
}

.prodname {
	text-align: center;
	border-bottom: 2px solid #000000;
	font-size: 1.6em;
	padding-bottom: 10px;
}

.content {
	max-width: 95%;
	padding: 10px;
	margin: 0 auto;
}

.primary-content {
	margin: 0 auto;
	padding-bottom: 30px;
}

.secondary-content {
	margin: 0 auto;
}

.energy {
	padding-bottom: 50px;
}

.product-picture img {
	width: 260px;
}

.product-details h2 {
	background-color: #13D2F1;
	box-shadow: inset 0 0 0 1000px #13D2F1;
	border-radius: 6px 6px 0 0;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	-webkit-print-color-adjust: exact;
}

.basic-info, .ingredients {
	padding-left: 5px;
}

.ingredients {
	margin-top: 20px;
}

.ingredients p {
	padding-left: 5px;
	padding-right: 5px;
}

.field {
	background-color: #fff;
	border: 1px solid #13D2F1;
}

table {
	width: 100%;
	border: 1px solid #13D2F1;
	border-spacing: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

table th {
	background-color: #13D2F1;
	box-shadow: inset 0 0 0 1000px #13D2F1;
	-webkit-print-color-adjust: exact;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0 ;
}

table tr:nth-child(even) td {
	background-color: #CECECE;
	box-shadow: inset 0 0 0 1000px #CECECE;
	-webkit-print-color-adjust: exact;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

table td {
	padding-left: 10px;
}

.energy .value,
.allergens .value,
.storage .value {
	padding-left: 6px;
}

.storage,
.allergens {
	padding-bottom: 30px;
}

.main-footer {
	clear: both;

}

.main-footer {
	width: 100%;
	text-align: center;
	border-top: 2px solid #000000;
	padding-bottom: 10px;
}

.main-footer p {
	padding-top: 20px;
}

/* Layout Styles ---------------- */

.product-picture {
	max-width: 35%;
}

.product-details {
	max-width: 60%;
	width: 100%;
}

.energy,
.storage {
	width: 80%;
}

.allergens {
	width: 70%;
}

.product-picture,
.col-1 {
	float: left;
}

.product-details,
.col-2,
.allergens {
	float: right;
}

.col-1,
.col-2 {
	max-width: 50%;
	width: 100%;
/*	padding-bottom: 20px;*/
}



/* Pseudo-classes --------------- */

a:link {
	text-decoration: none;
  	color: #1208a2;
}

a:hover {
	color: #ff6347;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
 }
